# Installer script for sysconf "sysconf.gitted"  -*- shell-script -*-

. /usr/lib/sysconf.base/common.sh

_packages=
_packages="$_packages lxc lxc-templates xz-utils maildir-utils psmisc wget postfix"
_packages="$_packages net-tools"  # for the ifconfig tool used by refresh-guest-status

sysconf_require_packages $_packages

# Reload dnsmasq in case /etc/lxc/dnsmasq.hosts has changed
killall -HUP dnsmasq

# Refresh ip forwardings
/usr/share/metagitted/refresh-guest-status
